*{
    font-family: 'Poiret One', cursive;
    
}

*::selection {
    background: rgba(119, 96, 105, 0.311); /* Safari */
    }
*::-moz-selection {
    background: rgba(86, 86, 86, 0.263); /* Firefox */
    }

.wraper {
    max-width: auto;
    margin-left: -8px;
    margin-right: -8px;
}

.header {
    position:fixed;
    /* right: 0;
    top: 9px;
    margin-right: 15px; */
    justify-content:space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    z-index: 1;
    transition: 0.4s all;
}

.header.hide {
    transform: translateY(-200px);
    transition: 0.4s all;
}

.nav a{
    right: 0;
    top: 9px;
    margin-right: 15px;
    box-sizing: border-box;
    align-content:space-around;
    flex-direction: column;
    display: flex;
    transition: 0.4s all;
    
}

.nav a:not(.logo){
    font-family: 'Poiret One', cursive;
    text-decoration: none;
    position: relative;
    color: rgb(95, 114, 120);
    font-size: 25px;
    transition: 0.4s all;
}

.nav a:hover {
    color: rgb(215, 215, 215); 
    transition: 0.4s all;
}

.header a:not(.logo a):before {
    content: "";
    position: absolute;
    height: 5%;
    width: 0px;
    background: rgb(73, 73, 73);
    bottom: 0px;
    transition: 0.3s all;
    right:100%;
    width: 0%;
}
.header a:not(.logo a):hover:before {
    width: 100%;
    transition: 0.4s all;
    background: rgb(241, 241, 241);
    right:0%;
}
.logo a{
    font-family: 'Poiret One', cursive;
    font-size: 90px;
    color:rgb(95, 114, 120);
    text-decoration: none;
    transition: 0.4s all;
   
}

.logo {
    margin-top:-80px;
    margin-left: 15px;
}
.logo a:hover {
    color: rgb(215, 215, 215); 
    transition: 0.4s all;
}

.pic-headband {
    background: url(./фотокарточки/12.jpg) center center / cover no-repeat rgb(98, 106, 77) fixed;
    height: 800px;
    position: relative;
    margin-top: -8px;
}

.headband-header {
    font-size: 120px;
    font-weight: 100;
    color:  rgb(95, 114, 120);
    position: absolute;
    left: 0;
    bottom:0;
    line-height: 0px;
    flex-wrap: wrap;
    letter-spacing: 20px;
    transform-style: inherit;
    transition: 0.4s all;
    margin-bottom: 80px;
    text-transform: uppercase;
    transition: 0.4s all;
}

.headband-header p:hover {
    color: rgb(215, 215, 215);
    transition: 0.4s all;
}

.blablabla h3{
    font-size: 3.5vw;
    text-align: center;

}

.first-captur {
    padding: 80px 7px;
}

.flex-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.one-conteiner {
    box-sizing: border-box;
    justify-content:space-between;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 700;
    flex-grow: 1;

}

.flex-band h4 {
    letter-spacing: 20px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
    margin: 80px 30px;
    
    
}


.flex-text{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
}

.flex-text p {
    text-align: justify;
    width: 700px;
    margin: 40px 100px;
    font-weight: 400;
    font-size: 24px;
}

.title h3 {
    font-weight: 500;
    font-size: 50px;
    text-align: center;
}


/* flex-childs */

.flex-child {
    background-color: rgb(86, 117, 145);
    width: 226px;
    height: 314px;
    
}
.items-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1252;
}

.flex-child {
    padding: 7px;
    flex-grow: 1;
    /* flex-basis: 300px;
    min-width: 279px; */
}

  .items-wrap>div {
  
    display:inline-block;
    background: rgb(255, 255, 255);
  }
  
  /* .flex-child:nth-child(2n-1) {
    background: rgb(95, 114, 120);   
} */

.flex-child:nth-child(2n) {
    width: 200px;
}

.flex-child h4 {
    font-size: 50px;
    margin-top: 0px;
    text-align: center;
}

.flex-child p {
    font-size: 20px;
    margin-right: 7px;
    margin-left: 7px;
    text-align: justify;
    font-weight: 500;

}

.chess-blocks::after {
    content: '';
    position:absolute;
    left:0;
    bottom: 15px;
    background-color: #5f7278;
    height: 0.5px;
    box-sizing: border-box;
    width: 80%;
    left: 10%;
}

.chess-blocks {
    padding-bottom: 40px;
    position: relative;
}

.footer {
    background:  #ffffff;
    margin-top: -22px;
    padding: 0;
    box-sizing: border-box;
    padding: 30px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.footer-col {
    width: 23%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 35px;
    color: rgb(95, 114, 120);
    font-weight: 800;
    position: relative;
    margin-left: 40px;
}

.footer-col h4::before {
    content: '';
    position:absolute;
    left:0;
    bottom: -10px;
    background-color: #5f7278;
    height: 1.5px;
    box-sizing: border-box;
    width: 20%;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: uppercase;
    color:#9d9d9d;
    text-decoration: none;
    font-weight: 600;
    display: block;
    transition: all 0.3s ease;

}

.footer-col ul li a:hover {
    color: rgb(73, 73, 73);
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #5f7278;
    margin: 0 10px 40px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #9d9d9d;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: rgb(36, 45, 47);
    background-color: #a2b5bb ;
}

.conteiner {
    margin: auto;
    max-width: 1170px;
    padding:0 ;
    box-sizing: border-box;
}

ul {
    list-style: none;

}

/* responsive */

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
        
    }
}

@media(max-width: 1280px) {
    .one-conteiner:first-child {
       max-width: 900px;
       margin-left: 176px;
    }
    .one-conteiner {
        justify-content: center;
    }
}

@media(max-width: 1280px) {
    .header {
       max-width: 1280px;
    }
    .logo {
        margin-left: -100px;
    }
    .nav {
        margin-right: 136px;
    }
    .video {
        max-width: 1280px;
    }
}

@media(max-width: 769px) {
    .headband {
        font-size: 90px;
        bottom:0;
        left: 0;
        font-weight: 500;
    }
    .href_ {
        font-size: 85px;
        font-weight: 500;
        letter-spacing: 10px;
        
    }
}

@media(max-width: 575px) {
    .firstSlide {
        display: block;
    }
    .headband {
        font-size: 50px;
        bottom:0;
        left: 0;
        font-weight: 500;
    }
    .href_ {
        font-size: 45px;
        font-weight: 500;
        letter-spacing: 10px;
        
    }
    .hreffirst {
        /* margin-right: 30px; */
        /* margin-left: 10px;*/
        bottom:0;
        left: 0;
    }

    .href_first {
        max-width: 320px;
    }

    .logo a {
        font-size: 70px;
        font-weight: 500;
    }
    .header a:not(.logo a) {
        font-size: 25px;
        margin-right: 20px;
    }
} 

@media (max-width: 485px) {

    .headband-header p{
        font-size: 50px;
        letter-spacing: 10px;
        text-align: center;
    }

    .logo a {
        font-size: 50px;
        font-weight: 500;
        
    }
    .header a:not(.logo a) {
        font-size: 20px;
        margin-right: 50vw;
    }

    .blablabla h3{
        font-size: 20px;
        text-align: center;
    }
    .title h3 {
        font-size: 20px;
        text-align: center;
    }
    .pic-headband {
        background: url(./фотокарточки/12.jpg) center center / cover no-repeat rgb(98, 106, 77);
        height: 664px;
    }
    .flex-band h4 {
        font-size: 15px;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin: 30px 0;
    }

    .flex-text {
    text-align: justify;
    width: 525px;
    margin: -26px -80px;
    font-weight: 400;
    font-size: 10px;
    text-align: justify;

    }
    .one-conteiner {
        display: flex;
        flex-wrap: wrap;
        margin-left: -219px;
    }
    /* .one-conteiner:second-child .flex-band {
        max-width: 900px;
        margin-left: 26px;
    } */

}