*{
    font-family: 'Poiret One', cursive;
    
}

*::selection {
    background: rgba(255, 254, 254, 0.263); /* Safari */
    }
*::-moz-selection {
    background: rgba(255, 254, 254, 0.263); /* Firefox */
    }

.wraper {
    max-width: auto;
    margin-left: -8px;
    margin-right: -8px;
}

.img1 {
    background: url(./фотокарточки/1.jpg) center center / cover no-repeat rgb(98, 106, 77) fixed;
    height: 750px;
    position: relative;
    margin-top: -8px;

}

.headband {
    font-size: 120px;
    font-weight: 100;
    color: rgb(95, 114, 120);
    position: absolute;
    left: 0;
    bottom:0;
    font-family: 'Poiret One', cursive;
    line-height: 0px;
    flex-wrap: wrap;
    letter-spacing: 20px;
    transform-style: inherit;
}

.animation-class.element-show {
    opacity: 1;
    transition: opacity 1s;
}

/* навигейшн */

.header {
    position:fixed;
    /* right: 0;
    top: 9px;
    margin-right: 15px; */
    justify-content:space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    z-index: 1;
    transition: transform 0.3s linear;
}

.header.hide {
    transform: translateY(-200px);
    transition: transform 0.5s linear;
}

.nav a{
    right: 0;
    top: 9px;
    margin-right: 15px;
    box-sizing: border-box;
    align-content:space-around;
    flex-direction: column;
    display: flex;
    
}

.nav a:not(.logo){
    font-family: 'Poiret One', cursive;
    text-decoration: none;
    position: relative;
    color: rgb(95, 114, 120);
    font-size: 25px;
}

.nav a:hover {
    color: rgb(215, 215, 215); 
}

.header a:not(.logo a):before {
    content: "";
    position: absolute;
    height: 5%;
    width: 0px;
    background: rgb(73, 73, 73);
    bottom: 0px;
    transition: 0.3s all;
    right:100%;
    width: 0%;
}
.header a:not(.logo a):hover:before {
    width: 100%;
    transition: 0.4s all;
    background: rgb(241, 241, 241);
    right:0%;
}
.logo a{
    font-family: 'Poiret One', cursive;
    font-size: 90px;
    color:rgb(95, 114, 120);
    text-decoration: none;
   
}

.logo {
    margin-top:-80px;
    margin-left: 15px;
}
.logo a:hover {
    color: rgb(215, 215, 215); 
}

/* второй "слайд" */

.img2 {
    background: url(./фотокарточки/2.jpg) center center / cover no-repeat rgb(98, 106, 77) ;
    height: 1000px;
    
}

.img3 {
    background: url(./фотокарточки/3.jpg) center center / cover no-repeat rgb(98, 106, 77) fixed;
    height: 1000px;
}

.img4 {
    background: url(./фотокарточки/4.jpg) center center / cover no-repeat rgb(98, 106, 77);
    height: 1000px;
}

.img5 {
    background: url(./фотокарточки/5.jpg) center center / cover no-repeat rgb(98, 106, 77) fixed;
    height: 1000px;
}

/* эффект паралакса */


.href_ {
    font-size: 120px;
    font-weight: 100;
    color:  rgb(95, 114, 120);
    font-family: 'Poiret One', cursive;
    letter-spacing: 20px;
    text-decoration: none;
    text-transform:uppercase;
    transition: 0.4s all;
   
}

@keyframes flashing-border{
    0%{
        border-color: orange;
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: orange;
    }
}

@keyframes printed-text{
    from{
        width: 0;
    }
}

.firstSlidee{ 
    display: none;
}

.SecondSlide {
    position: relative;
}

.hreffirst {
    position: absolute;
    bottom:0;
    margin-bottom: 50px;
    
}

.href_first a:hover {
    color: rgb(215, 215, 215);
    transition: 0.4s all;
}

.ThirdSlide {
    position: relative;
}

.href_second a:hover {
    color: rgb(215, 215, 215);
    transition: 0.4s all;
}

.FourthSlide {
    position: relative;
}

.href_third a:hover {
    color: rgb(215, 215, 215);
    transition: 0.4s all;
}

.FifthdSlide {
    position: relative;

}

.href_fourth a:hover {
    color: rgb(215, 215, 215);
    transition: 0.4s all;
}

/* footer */

.footer {
    background:  #d7d7d7;
    margin-top: -22px;
    padding: 0;
    box-sizing: border-box;
    padding: 30px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.footer-col {
    width: 23%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 35px;
    color: rgb(95, 114, 120);
    font-weight: 800;
    position: relative;
    margin-left: 40px;
}

.footer-col h4::before {
    content: '';
    position:absolute;
    left:0;
    bottom: -10px;
    background-color: #5f7278;
    height: 1.5px;
    box-sizing: border-box;
    width: 20%;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: uppercase;
    color:#9d9d9d;
    text-decoration: none;
    font-weight: 600;
    display: block;
    transition: all 0.3s ease;

}

.footer-col ul li a:hover {
    color: rgb(73, 73, 73);
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #5f7278;
    margin: 0 10px 40px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #9d9d9d;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: rgb(36, 45, 47);
    background-color: #a2b5bb ;
}

.conteiner {
    margin: auto;
    max-width: 1170px;
    padding:0 ;
    box-sizing: border-box;
}

ul {
    list-style: none;

}

/* responsive */



@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
        
    }
}


/* @media(max-width: 1108px) {
    .headband {
        font-size: 130px;
        bottom:0;
        left: 0;
        margin-left: 70px;
        
    }
    .href_ {
        font-size: 120px;
        font-weight: 400;
        letter-spacing: 10px;
        
    }
} */


@media(max-width: 769px) {
    .headband {
        font-size: 90px;
        bottom:0;
        left: 0;
        font-weight: 500;
    }
    .href_ {
        font-size: 85px;
        font-weight: 500;
        letter-spacing: 10px;
        
    }
}


@media(max-width: 575px) {
    .firstSlide {
        display: block;
    }
    .headband {
        font-size: 50px;
        bottom:0;
        left: 0;
        font-weight: 500;
    }
    .href_ {
        font-size: 45px;
        font-weight: 500;
        letter-spacing: 10px;
        
    }
    .hreffirst {
        /* margin-right: 30px; */
        /* margin-left: 10px;*/
        bottom:0;
        left: 0;
    }

    .href_first {
        max-width: 320px;
    }

    .logo a {
        font-size: 70px;
        font-weight: 500;
    }
    .header a:not(.logo a) {
        font-size: 25px;
        margin-right: 20px;
    }
} 

@media(max-width: 486px) {
    .firstSlidee{
        display: block;
    }
    .firstSlide {
        display : none;
    }
    .headband {
        font-size: 30px;
        left: 0;
        right: 0;
        bottom:50%;
        font-weight: 800;
        text-align: center;
    }
    .href_  {
        font-size: 25px;
        font-weight: 800;
        letter-spacing: 10px;
        text-align: center;
       
       
    }
  
    .hreffirst {
        /* margin-right: 30px; */
        
        bottom:50%;
        text-align: center;
    }

    .SecondSlide a{
        margin-left: 25%;
    }

    .FourthSlide a{
        margin-left: 55%;
        
    }

    .href_first {
        max-width: 320px;
    }

    .logo a {
        font-size: 50px;
        font-weight: 500;
    }
    .header a:not(.logo a) {
        font-size: 20px;
        margin-right: 50px;
    }
}